@import 'src/styles.scss';

.breadcrumb-wrapper {
  padding: 20px 50px;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  .home-icon {
    width: 30px;
    opacity: 0.6;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .breadcrumb-item {
    color: $font-color-primary;
    margin-right: 10px;
    max-width: 210px;
    display: flex;
    align-items: flex-start;

    &:last-child {
      img {
        display: none;
      }
    }

    img {
      width: 12px;
      margin-top: 10px;
      margin-left: 10px;
      opacity: 0.5;
    }
    .breadcrumb-container {
     &.router-link {
       cursor: pointer;
     }
     h2 {
      font-size: 1.0rem;
      font-weight: normal;
      background: $accent-color;
      padding: 5px 30px;
      text-align: center;
      border-radius: 60px;
     }
     span {
       font-size: 0.8rem;
       font-weight: lighter;
       overflow-wrap: break-word;
       padding: 5px 13px;
       display: flex;
     }
    }
  }
}

@media (max-width: 600px) {
  .breadcrumb-wrapper {
    display: none !important;
  }
}
