@import 'src/styles.scss';

$darkColorOr: rgba(0,0,0,0.16);

.page-post-closure {
  display: flex;
  min-height: 100vh;
  flex-direction: row;

    .background-page {
        background: var(--background);
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: -1;
        margin-left: 0px;
    }
    .left-side {
        width: 100%;
        .conference-warning-block {
            margin: 40px 0 0 95px;
            background: var(--card-color);
            border-top: 10px solid var(--accent-color);
            .conference-warning-message {
                padding: 40px 45px 30px 45px;
                background: var(--card-color);
            }
        }
    }
    .right-side {
        margin-right: 80px;
        .auth-box {
            border-radius: 1rem;
            background-color: var(--card-color);
            margin: 40px 0 40px 60px;
            display: flex;
            flex-direction: column;
            padding: 20px 40px;
            overflow: hidden;
            flex: 1;


            .logo {
                max-width: 275px !important;
                align-self: center;
            }

            .header {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 20px;
                margin-top: 20px;
                h2, p {
                    margin-block-start: 0;
                    margin-block-end: 0;
                    color: var(--card-font-color);
                }
                p {
                    margin-top: 5px;
                    font-weight: lighter;
                }
            }

            .social-login {
                display: flex;
                flex-direction: column;
                .google{
                    width: 100%;
                    display: flex;
                    justify-content: right;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding-right: 10px;
                    color: black;
                    text-decoration: none;
                    font-size: 80%;
                    cursor: pointer;
                  }
                button {
                    padding: 2px 10px;
                    margin-bottom: 5px;
                    border-radius: 10px;
                    border: none;
                    display: flex;
                    align-items: center;
                    color: white;
                    &.cidadao {
                        background: #016A88;
                    img {
                        width: 26px;
                    }
                    cursor: pointer;
                    }
                    &.google {
                        background: #dc4e41;
                        padding: 7px 10px;
                        img {
                            width: 20px !important;
                            margin-right: 15px !important;
                        }
                        cursor: pointer;
                    }
                    &.facebook {
                        background: #3b5998;
                        img {
                            margin-left: -5px !important;
                            margin-right: 10px !important;

                    }
                    cursor: pointer;
                    }
                    img {
                        width: 30px;
                        margin-right: 9px;
                    }
                }
            }
            .or {
                padding: 16px 0;
                text-align: center;
                justify-content: right;
                color: $darkColorOr;
                display: flex;
                .text {
                    padding: 0 7px;
                }
                .line {
                    display: flex;
                    height: 1px;
                    align-self: center;
                    flex: 1;
                    background: $darkColorOr;
                }
            }
            .form-login {
                display: flex;
                flex-direction: column;
                padding-top: 5px;
                .form-group {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    &:first-child {
                        margin-top: 0;
                    }
                    label {
                        font-weight: lighter;
                        margin-bottom: 5px;
                    }
                    input {
                        background: white;
                        padding: 10px;
                        border-radius: 5px;
                        border: none;
                    }
                }
                .actions {
                    font-size: 0.8rem;
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .poweredBy {
                align-self: center;
            }
            .submit {
                background: var(--tertiaryColor);
                border: 0;
                color: white;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                cursor: pointer;
            }

            .how-it-works-container {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                color: var(--card-font-color);
                cursor: pointer;
                :hover {
                    color: white !important;
                }
            }
        }
    }
    .login-mobile {
        display: none;
    }
}

@media (max-width: 868px) {
    .page-post-closure {
        flex-direction: column !important;
        margin-right: 0px;
        margin-left: 0px;
    }
    .background-page{
        height: 100% !important;
    }
    .left-side {
        display: flex;
        justify-content: center;
        padding: 13px;
    }
    .conference-warning-block {
        margin: 0 !important;
        margin-top: 30px !important;
    }
    .left-side .conference-warning-block {
        max-width: 75% !important;
        min-width: 300px !important;
    }

    .right-side {
      width: 100%;
      margin: 0;
    }
    .auth-box {
        margin: 10px auto 10px auto!important;
        width: 75%;
        min-width: 300px;
    }

    .button-position {
        display: flex;
        justify-content: center;
    }
    .submit {
        background: var(--accent-color);
        border: 0;
        color: white;
        padding: 2.5vw 39vw;
        margin: 1.25rem 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.25rem;
    }
    .actions {
        margin: 0 5.5vw !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
            color: white;
        }
    }
}

@media (max-width: 400px) {
    .submit {
        padding: 2.5vw 37vw;
    }
}

.policy-container {
    font-size: 12px;
    display: flex;
    height: 100%;
  }
  
  .policy-link {
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    margin: 0 auto 0 auto;
  }
  
  .bg-theme{
    background-color: var(--card-color);
  }
