<div class="footer-container">
  <div class="block-item"></div>
  <div class="block-item align-center">
    <a *ngIf="researchStatus === 'ACTIVE' && researchUrl" (click)="researchRedirect()">
      <div class="research">
        <i class="fas fa-clipboard-list"></i>
        <div class="research-text">
          <span><b>Responder à pesquisa</b></span>
          <span>{{estimatedTimeResearch}}</span>
        </div>
      </div>
    </a>
    <img class="footer_img" src="assets/images/footer_branco.png" alt="">
  </div>
  <div class="block-item align-right">
    <img src="assets/images/poweredBy_branco.svg" alt="">
  </div>
</div>
