<div class="footer-container">
  <div class="block-item"></div>
  <div class="block-item align-center">
    <a *ngIf="researchStatus === 'ACTIVE' && researchUrl" (click)="researchRedirect()">
      <div class="research">
        <i class="fas fa-clipboard-list"></i>
        <div class="research-text">
          <span><b>Responder à pesquisa</b></span>
          <span>{{estimatedTimeResearch}}</span>
        </div>
      </div>
    </a>
    <img class="footer_img" src="assets/images/ES-ACAO_20anos_transparente.png" alt="" style="margin-right: 20px;">
    <img class="footer_img" src="assets/images/Logo_Gov_ES_transparente.png" alt="">
  </div>
  <div class="block-item align-right">
    <img src="assets/images/poweredBy_branco.svg" alt="">
    <div class="policy-container">
      <a class="policy-link" target="blank" href="assets/docs/privacy-policy.html">Política de Privacidade</a>
    </div>
  </div>
</div>
