.footer-container {
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  .block-item {
    width: 33%;
  }
}


@media (max-width: 600px) {
  .footer-container  {
    flex-direction: column;
    .block-item  {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }  
}