.how-it-works-area-container {
    display: flex;
    padding: 15px;
    justify-content: center;
    .cards-container {
      width: 80%;
      display: grid;
      grid-row-gap: 14px;
      grid-column-gap: 25px;
      justify-content: center;
      grid-template-columns: repeat(auto-fill,minmax(450px, 0.4fr));
      
      .card-item {
        display: flex;
        min-height: 240px;
        text-align: center;
        flex-direction: column;

        border: 3px;
        border-style: solid;
        border-color: white;

        padding: 1rem;

        margin-top: 3rem;
        
        background: transparent;

        .number{
            color: white;
            font-size: 50px;
            text-align: center;
          
            
            margin-left: auto;
            margin-right: auto;
            margin-top: -3.6rem;

            padding-left: 1rem;
            padding-right: 1rem;
            
            border: 2px;
            border-style: solid;
            border-radius: 100%;
            border-color: white;

            background: linear-gradient(to right, var(--accentColorStart), var(--accentColorEnd));

        }

        .header{ 
            color: white;
            font-size: 2rem;
            text-align: center;
            
            margin-top: 1rem;
            margin-bottom: 2rem;  
        }

        .body{
            color: white;
            font-size: 1.2rem;
            text-align: center; 
        }
      }
    }
  }

  @media (max-width: 600px) {
    .how-it-works-area-container {
      .cards-container {
        width: 100%;
        grid-template-columns: repeat(auto-fill,minmax(300px, 0.8fr));
      }
    } 
  }