@import 'src/styles.scss';
.stacked {
  label {
    min-width: 122px;
    color: var(--card-font-color);
  }
}
input[readOnly] {
  background-color: var(--light) !important;
}
@media(min-width: 800px) {
  form {
    width: 50%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  form {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .stacked {
    flex-direction: column;
    align-items: stretch;
    label {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .actions {
    padding-right: 0px !important;
  }
}

.locality-dropbox {
  width: 230px;
}

::ng-deep .field-switch {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  color: var(--card-font-color);
  label {
    margin-left: 0.8rem;
  }
  .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: var(--accent-color) !important;
    &:hover {
      background-color: var(--accent-color);
    }
  }
}

