<app-template [useCard]="false" [footerVisible]="true">
    <div class="container pb-4">
        <div class="card col-10 col-md-6 col-lg-4 m-auto shadow mt-3 p-3 ">
            <form class="w-100" *ngIf="!loading" [formGroup]="userForm ">
            <table class="table d-flex justify-content-center text-center" >
                <tbody>
                    <tr>
                        <td>
                            <h2>Presença Registrada !</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <div >{{ userForm.value.date }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>{{ userForm.value.personName }}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>{{ userForm.value.meetingName }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>{{ userForm.value.localityPlace }}, ES</div>
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <div class="text-center">
                <div class="col-6 col-md-6 m-auto">
                    <button type="button" (click)="cancel()" class="btn-green btn-sm btn">
                        Ok
                      </button>
                </div>
            </div>
        </form>
        </div>
    </div>
</app-template>