@import '~src/styles.scss';

.background-linear {
  background: var(--background);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0px;
}
.how-it-works-area-container {
  display: flex;
  padding: 80px;
  justify-content: center;
  z-index: 1;
  .cards-container {
    width: 100%;
    display: grid;
    grid-row-gap: 14px;
    grid-column-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(400px, 0.4fr));

    .card-item {
      display: flex;
      min-height: 240px;
      text-align: center;
      flex-direction: column;

      border: 3px solid var(--border-color);

      padding: 1rem;

      margin-top: 3rem;

      background: transparent;

      .number{
          color: var(--font-color);
          font-size: 50px;
          text-align: center;


          margin-left: auto;
          margin-right: auto;
          margin-top: -3.6rem;

          padding-left: 1rem;
          padding-right: 1rem;

        border-radius: 100%;
        border: 2px solid var(--border-color);

        background: var(--accent-color);

      }

      .header{
          color: var(--font-color);
          font-size: 2rem;
          text-align: center;

          margin-top: 1rem;
          margin-bottom: 2rem;
      }

      .body{
          color: var(--font-color);
          font-size: 1.2rem;
          text-align: center;
      }
    }
  }
}


@media (max-width: 600px) {
  .how-it-works-area-container {
    .cards-container {
      width: 100%;
      grid-template-columns: repeat(auto-fill,minmax(300px, 0.8fr));
    }
  }
}
