<app-template [disablebreadcrumb]=true
              [fullLayout]="true"
              [footerVisible]="true">
  <div class="participations">
    <div class="search-container">
      <div class="search-area">
        <div class="search-button" [@rotatedState]='state' [@hide]='hide' (click)="search()">Pesquisar</div>
        <input [@rotatedState]='state' [(ngModel)]="textSearch" (keydown.enter)="search()"  minlength="3">
        <div class="action-icon" (click)="showHide();">
          <i [class]="searchIconClass"></i>
        </div>
      </div>
      <div class="{{classMsg}}" *ngIf="showMessage">
        <div class="message" [ngStyle]="{'background-color': wasFound ? '#316b31' : '#a83838'}">
          <strong>{{searchMessage}}</strong>
          <div class="close" (click)="closeMessage()" >x</div>
        </div>
      </div>
    </div>
    <div class="title-container">
      <div class="title">Minhas Participações</div>
      <div *ngIf="false" class="subtitle">Subtítulo</div>
    </div>
    <div class="participations-list">
      <div class="p-grid timeline">
        <div class="p-col-12 line" *ngFor="let participation of listParticipations; let i = index;">
          <div class="link-line">
            <div class="vertical-line top" [class.hidden]="!i"></div>
            <div class="bg-icon">
              <img [src]="'assets/icons/' + (participation.highlight ?  'check-circle2.svg': 'logomark-white2.svg')"
                alt="Ìcone item da timeline">
            </div>
            <div class="vertical-line bottom" [class.hidden]="listParticipations?.length === (i + 1)"></div>
          </div>
          <ng-container *ngIf="participation.highlight; else proposal">
            <div class="highlight">
              <div class="top">
                <span class="title">DESTAQUE</span>
                <span class="how-long-ago" [pTooltip]="participation.time">{{ howLongAgo(participation.time) }}</span>
              </div>
              <div class="plan-items">
                <div class="item" *ngIf="regionalization">
                  <div class="structure-item">
                    <img src="assets/icons/locality-without-map-gradient.svg" alt="">
                    <div class="name">{{ participation.localityDto?.type?.name}}</div>
                  </div>
                  <div class="name">{{ participation.localityDto?.name }}</div>
                </div>
                <div class="item" *ngFor="let item of participation.planItems; last as isLast">
                  <div class="structure-item">
                    <img *ngIf="!isLast" src="assets/icons/{{item.fileName}}-gradient.svg" alt="">
                    <img *ngIf="isLast" src="assets/icons/{{item.fileName}}.svg" alt="">
                    <div class="name">{{ item.structureItemName }}</div>
                  </div>
                  <div class="name">{{ item.name }}</div>
                </div>
              </div>
              <div class="action" (click)="handleNewProposal(participation)">
                <img src="/assets/icons/comment2.svg" alt="Ícone inserir proposta">Inserir Proposta
              </div>
            </div>
          </ng-container>
          <ng-template #proposal>
            <div class="item-timeline">
              <div class="comment">
                <div class="top">
                  <span class="status" [class.published]="participation.status === 'pub'"
                    [class.pending]="participation.status === 'pen'">
                    <img src="/assets/icons/quote2.svg" alt="Ícone aspas">
                    {{ participation.status === 'pub' ? 'PROPOSTA PUBLICADA' : 'PROPOSTA PENDENTE'}}
                  </span>
                  <span class="moderated-by" *ngIf="!!participation.moderatorName && !participation.moderated"> em moderação por <span class="moderator-name">{{ participation.moderatorName }}</span></span>
                  <span class="how-long-ago" [pTooltip]="getTimeParticipation(participation)">{{ howLongAgo(participation.moderateTime || participation.time) }}</span>
                </div>
                <p class="text" style="font-size: 18px;">{{ participation.text }}</p>

                <a class="likes" [class.has-like]="!!participation.qtdLiked" style="font-size: 12px;">
                  {{ participation.qtdLiked || 0 }}
                  <img src="assets/icons/like2.svg" alt="">
                </a>
              </div>
              <div class="info-plan">
                <div class="item" *ngIf="regionalization">
                  <div class="structure-item">
                    <img src="assets/icons/locality-without-map-gradient.svg" alt="">
                    <div class="name">{{ participation.localityDto?.type?.name}}</div>
                  </div>
                  <div class="name">{{ participation.localityDto?.name }}</div>
                </div>
                <div class="item" *ngFor="let item of participation.planItems; let i = index; last as isLast"
                  [ngStyle]="{ order: item.structureItemName === 'Área Estratégica' ? ( i === 0 ? 2 : 1 ) : i }">
                  <div class="structure-item">
                    <img *ngIf="!isLast" src="assets/icons/{{item.fileName}}-gradient.svg" alt="">
                    <img *ngIf="isLast" src="assets/icons/{{item.fileName}}.svg" alt="">
                    <div class="name">{{ item.structureItemName }}</div>
                  </div>
                  <div class="name">{{ item.name }}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <app-modal class="modal-comment" [show]="showModalProposal" (onCallback)="modalOnCallback($event)">
    <h2>{{ selectedParticipation?.planItems[0].name }}</h2>
    <p>{{ selectedParticipation?.planItems[0].description }}</p>
    <textarea [maxlength]="200" rows="6" [(ngModel)]="newProposal"></textarea>
    <span class="count-characters">Caracteres restantes {{ newProposal.length || 0 }}/200</span>
  </app-modal>
</app-template>
