<app-template [useCard]="false" [footerVisible]="true" >
    <div class="container">
        <div class="text-center">
            <h2 class="text-white">Pré-credenciamento</h2>
        </div>
        <div class="card col-10 col-md-6 col-lg-4 m-auto shadow mt-3 p-2">
            <table class="table table-striped table-borderless" >
                <tbody>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="eventName" placeholder="Encontro Presencial" value="Nordeste e Noroeste">
                                <label for="eventName" class="no-background">Encontro Presencial</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <input type="datetime-local" readonly class="form-control-plaintext cursor-normal" id="data" placeholder="Data" value="2024-03-15 12:45:00">
                                <label for="data" class="no-background">Data</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="city" placeholder="Cidade" value="Colatina-ES">
                                <label for="city" class="no-background">Cidade</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="place" placeholder="Local" value="Câmara Municipal">
                                <label for="place" class="no-background">Local</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <textarea readonly class="form-control-plaintext cursor-normal h-auto">Rua Prof. Arnaldo de Vasconcelos Costa, 32 </textarea>
                                <!-- <input type="text" readonly class="form-control-plaintext cursor-normal" autocomplete="none" id="address" placeholder="Endereço" value="Rua Prof. Arnaldo de Vasconcelos Costa, 32 "> -->
                                <label for="address" class="no-background">Endereço</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row mt-3">
                                <div class="col-9 row m-auto">
                                    <div class="col-6 col-md-6">
                                        <button type="button" class="btn-green btn-sm btn">
                                            Cancelar
                                          </button>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <button type="button" class="btn-sm btn btn-blue">
                                          Confirmar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            
           
            
           
            
        </div>

    </div>
</app-template>