<app-template [useCard]="false" >
    <div class="container">
        <div class="text-center">
            <h2 class="text-white">Pré-credenciamento</h2>
        </div>
        <div class="card shadow mt-3 p-2">
            <table class="table table-striped" >
                <tbody>
                    <tr>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="floatingPlaintextInput" placeholder="Encontro Presencial" value="Nordeste e Noroeste">
                                <label for="floatingPlaintextInput">Encontro Presencial</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="datetime-local" readonly class="form-control-plaintext cursor-normal" id="floatingPlaintextInput" placeholder="Data" value="2024-03-15 12:45:00">
                                <label for="floatingPlaintextInput">Data</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="floatingPlaintextInput" placeholder="Cidade" value="Colatina-ES">
                                <label for="floatingPlaintextInput">Cidade</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="floatingPlaintextInput" placeholder="Local" value="Câmara Municipal">
                                <label for="floatingPlaintextInput">Local</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="floatingPlaintextInput" placeholder="Endereço" value="Rua Prof. Arnaldo de Vasconcelos Costa, 32 ">
                                <label for="floatingPlaintextInput">Endereço</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="floatingPlaintextInput" placeholder="Encontro Presencial" value="">
                                <label for="floatingPlaintextInput">Localização</label>
                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            
           
            
           
            
        </div>

    </div>
</app-template>