<app-template *ngIf="loadedServices" [useCard]="false" [footerVisible]="true" >
    <div class="container">
        <div class="text-center">
            <h2 class="text-dark">Pré-credenciamento</h2>
        </div>
        <div class="card col-10 col-md-6 col-lg-4 m-auto shadow mt-3 p-2">
            <table class="table table-striped table-borderless" >
                <tbody>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="eventName" placeholder="Encontro Presencial" value="{{meetindData.name}}">
                                <label for="eventName" class="no-background">Encontro Presencial</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <!-- <div class="row" >
                                    <div class="col-6">
                                        <input type="datetime-local" readonly class="form-control-plaintext cursor-normal" placeholder="Data" value="{{meetindData.beginDate}}">
                                    </div>
                                    <div class="col-6">
                                    </div>
                                </div> -->
                                <input type="text" readonly class="form-control-plaintext cursor-normal" placeholder="Data" value="{{meetindData.beginDate}} - {{meetindData.endDate}}">
                                <!-- <input type="text" readonly id="data" placeholder="Data" value="" > -->
                                <label for="data" class="no-background">Data</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="city" placeholder="Cidade" value="{{meetindData.localityPlace['name']}}">
                                <label for="city" class="no-background">Cidade</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext cursor-normal" id="place" placeholder="Local" value="{{meetindData.place}}">
                                <label for="place" class="no-background">Local</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-floating">
                                <textarea readonly  class="form-control-plaintext cursor-normal no-resize h-auto">{{meetindData.address}}</textarea>
                                <label for="address" class="no-background">Endereço</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row mt-3">
                                <div class="col-9 row m-auto">
                                    <div class="col-6 col-md-6">
                                        <button type="button" (click)="cancel()" class="btn-green btn-sm btn">
                                            Cancelar
                                          </button>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <button type="button" (click)="submitPreRegistration()  " class="btn-sm btn btn-blue">
                                          Confirmar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            
           
            
           
            
        </div>

    </div>
</app-template>
<app-template *ngIf="preRegistrationCompleted" [useCard]="false" [footerVisible]="true" >
    <div class="container">
        <div class="text-center print-visible">
            <h2 class="text-dark">Pré-credenciamento<br>Concluído</h2>
        </div>
        <div class="col-10 col-md-6 col-lg-4 m-auto text-center  mt-3 p-2">
            <div>
                <em class="informacoes print-visible" style="color: #cdcdcd;" >Apresente o QR Code na entrada e registre sua presença</em>
                <img src="data:image/png;base64,{{preRegistrationData.qrcode}}"  alt="QR Code - Audiências Públicas" class="qr-code print-visible">
            </div>

            <a href="data:image/png;base64,{{preRegistrationData.qrcode}}" download="Confirmação de Presença - Encontro Presencial - {{preRegistrationData.meeting.name}}" class="btn btn-sm btn-outline-light ms-2" target="_blank">
                <span class="iconText">Salvar</span>
                <i class="fas fa-download"></i>
            </a>
            <a type="button" (click)="print()" class="btn btn-sm btn-outline-light ms-2">
                <span class="iconText">Imprimir</span>
                <i class="fas fa-print"></i>
            </a>
            <p style="color: #f59a3e;margin-top: 30px;">Encontro Presencial</p>
            <p style="font-style: italic;">{{preRegistrationData.meeting.name}}</p>
            <p>{{preRegistrationData.meeting.place}}</p>
            <p>{{preRegistrationData.meeting.address}}</p>
            <p>{{preRegistrationData.meeting.localityPlace.name}}</p>
        </div>
    </div>
</app-template>