<app-template [useCard]="true" title="Autoridade, Complete seu credenciamento...">
  <main class="d-flex justify-content-center">
    <ng-container [ngSwitch]="step">
      <app-authc-step-one *ngSwitchCase="1" [meeting]="meeting"></app-authc-step-one>
      <app-authc-step-two *ngSwitchCase="2" [user]="user" (onRegister)="onRegister($event)"></app-authc-step-two>
      <app-authc-step-three *ngSwitchCase="3" [preRegistration]="preRegistration" [userInfo]="user"></app-authc-step-three>
    </ng-container>
  </main>
</app-template>
