<div class="container mb-3">
  <div #confirmationCard class="col-10 col-md-6 col-lg-4 m-auto text-center mt-3 p-2 w-100 cardPreRegistration" style="border-radius:20px">
    <div class="text-center print-visible">
      <h2 class="print-visible">Pré-credenciamento<br>Concluído</h2>
    </div>
    <div class="mt-0">
      <em class="informacoes print-visible">Apresente o QR Code na entrada e registre sua presença</em>
      <img src="data:image/png;base64,{{preRegistration().qrcode}}"  alt="QR Code - Audiências Públicas" class="qr-code img-fluid print-visible">
    </div>
    <div class="mb-3">
      <em class="informacoes-adicionais mb-3 print-visible p-2">Já o encaminhamos para o seu e-mail {{protectExibitionEmail(userInfo().contactEmail ?? null)}}, mas você pode também:</em><br/>
    </div>
    <a type="button" (click)="saveImage()" class="btn btn-sm btn-outline-primary ms-2 action-buttons">
      <span class="iconText">Salvar</span>
      <i class="fas fa-download"></i>
    </a>
    <a type="button" (click)="print()" class="btn btn-sm btn-outline-primary ms-2 action-buttons">
      <span class="iconText">Imprimir</span>
      <i class="fas fa-print"></i>
    </a>
    <div class="mb-3">
      <em class="informacoes-adicionais mb-3 print-visible p-2">Se quiser corrigir algum dado basta acessar o mesmo link enviado inicialmente</em><br/>
    </div>
    <p class="print-visible mb-0 text-center" style="color: #f59a3e;margin-top: 30px;">Encontro Presencial</p>
    <p class="print-visible mb-0 text-center" style="font-style: italic;">{{preRegistration().meeting.name}}</p>
    <p class="print-visible mb-0 text-center">{{preRegistration().meeting.place}}</p>
    <p class="print-visible mb-0 text-center">{{preRegistration().meeting.address}}</p>
    <p class="print-visible mb-0 text-center">{{preRegistration().meeting.localityPlace.name}}</p>
    <p class="print-visible mb-0 text-center">
      <img class="img-fluid print-visible img-logo-es" src="assets/images/brasao.png" >
    </p>
  </div>
</div>
<canvas #canvas style="display: none;"></canvas>
