@import '~src/styles.scss';

.background-linear {
  // background: $menu-color-primary;
  background: $menu-color-primary;
  background: linear-gradient(140deg, $menu-color-primary 35%, $menu-color-secondary 150%);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0px;
}
.layout-wrapper {
  height: 100vh;
  width: 100%;
  top: 0px;
  padding-bottom: 20px;
  z-index: 999;
  position: relative;

  .layout-container-card {
    background: $menu-color-secondary;
    min-height: 100px;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
  }

  .title-container {
    color: $font-color-secondary;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    span {
      font-weight: lighter;
      margin-top: 4px;
    }
  }

  @media (max-width: 600px) {
    top: 60px;
    .title-container {
      text-align: center;
      font-size: 0.9rem;
    }
  }

}