<div class="menu-wrapper">
  <div [routerLink]="item.route" [ngClass]="{'active': isActive(item)}" class="button-item" *ngFor="let item of menu">
    {{item.label}}
  </div>
</div>
<div class="menu-mobile-wrapper">
  <div class="mobile-bar">
    <img (click)="openSidemenu()" src="/assets/icons/open-menu.svg" />
  </div>
</div>

<div #sidemenu class="sidenav">
  <a  class="closebtn" (click)="closeSidemenu()">&times;</a>
  <a class="btn-default btn-participar"  (click)="navigate('/conference-map')">Participar</a>
  <a class="btn-default" (click)="navigate('/proposals')">Propostas</a>
  <!-- <a class="btn-default" [routerLink]="['/conference-map']">Minhas Participações</a> -->
  <a class="btn-default" (click)="navigate('/how-it-works')">Como Funciona</a>
  <!-- <a class="btn-default btn-minhas-configuracoes">Minhas Configurações</a> -->
  <a class="btn-default btn-sair" (click)="logout()">Sair</a>
</div>